/*
 *
 * MMM-Covid19
 *
 * Olivier Gélinas
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

div.summary {
    display:        inline-block;
 }

table.summary {
    display:        inline-block;
 }

tr.total {
    padding-top:    2px;
    padding-bottom: 0px;
}

tr.change {
    padding-top:    0px;
    padding-bottom: 2px;
}

td.location {
    text-align:     left;
    vertical-align: text-bottom;
}

td.data {
    text-align:     center;
    vertical-align: text-bottom;
    padding-left:   5px;
}

span.plus {
    color:          red;
}

span.minus {
    color:          lime;
}